@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"  onclick="myAnimation()">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building apps with ASP.NET Core</a>.</p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>
<p>Here is some additional text</p>
